In [1]:
import pandas as pd

In [2]:
def read_tweets(fp):
    df = pd.read_csv(fp, usecols = ['created_at', 'text'], parse_dates = ['created_at'])
    df['date'] = df['created_at'].dt.date
    print(df['date'].value_counts())
    print(df.shape)
    return df

## October 27-28

In [3]:
oct28 = read_tweets('./data/tweets_1027_1028.csv')
oct28.head()

2020-10-28    9147
2020-10-27    8849
Name: date, dtype: int64
(17996, 3)

,created_at,text,date
0,2020-10-28 06:25:49,@LeonardChoong @VGrinshpun @bizandsec @dividen...,2020-10-28
1,2020-10-27 17:09:19,@erwil_AI @boutchbb7 @ValueAnalyst1 @JiwanCahn...,2020-10-27
2,2020-10-27 19:49:16,@VGrinshpun @boutchbb7 @ValueAnalyst1 @JiwanCa...,2020-10-27
3,2020-10-27 06:54:30,@JiwanCahn @mariuswiik @WholeMarsBlog @dburkla...,2020-10-27
4,2020-10-27 06:54:07,@JiwanCahn @mariuswiik @WholeMarsBlog @dburkla...,2020-10-27

## October 29

In [4]:
oct29 = read_tweets('./data/tweets_1029.csv')
oct29.head()

2020-10-29    17988
Name: date, dtype: int64
(17988, 3)

,created_at,text,date
0,2020-10-29 23:59:57,@elonmusk @EndelSound @Grimezsz Teach my tesla...,2020-10-29
1,2020-10-29 02:24:21,@elonmusk Wtf is going on with Elon musk latel...,2020-10-29
2,2020-10-29 23:59:36,Why It Might Be Time To Sell #Tesla And Other ...,2020-10-29
3,2020-10-29 23:59:29,@ShortingIsFun @TESLAcharts @elonmusk He‚Äôs not...,2020-10-29
4,2020-10-29 23:59:19,@TeslaPodcast @elonmusk @Tesla @TeslaPodcast ‚ù§...,2020-10-29

## October 30

In [5]:
oct30 = read_tweets('./data/tweets_1030.csv')
oct30.head()

2020-10-30    11475
Name: date, dtype: int64
(11475, 3)

,created_at,text,date
0,2020-10-30 23:59:56,@elonmusk @engineers_feed And it does that on ...,2020-10-30
1,2020-10-30 23:59:52,@Gab031996 @BlackSwans8 @mundanemun @alyssathe...,2020-10-30
2,2020-10-30 00:19:44,@Gab031996 @mundanemun @alyssatheodore2 @PPath...,2020-10-30
3,2020-10-30 23:03:04,@mirelexx @Gab031996 @mundanemun @alyssatheodo...,2020-10-30
4,2020-10-30 23:16:20,@mirelexx @Gab031996 @mundanemun @alyssatheodo...,2020-10-30

## October 31

In [6]:
oct31 = read_tweets('./data/tweets_1031.csv')
oct31.head()

2020-10-31    6064
Name: date, dtype: int64
(6064, 3)

,created_at,text,date
0,2020-10-31 23:59:59,@tobyliiiiiiiiii @karpathy @elonmusk @kimbal @...,2020-10-31
1,2020-10-31 15:31:08,@jmufkinr @elonmusk @WholeMarsBlog Thank you!,2020-10-31
2,2020-10-31 23:59:36,@teslasanon @karpathy @elonmusk @kimbal @mayem...,2020-10-31
3,2020-10-31 23:59:29,@mojosusan @karpathy @elonmusk @kimbal @mayemu...,2020-10-31
4,2020-10-31 23:43:57,Finished! Still in beta but with latest updat...,2020-10-31

## November 1-2

In [7]:
nov1_2 = read_tweets('./data/tweets_1101_1102.csv')
nov1_2.head()

2020-11-02    15323
2020-11-01     2650
Name: date, dtype: int64
(17973, 3)

,created_at,text,date
0,2020-11-02 23:59:55,@noobde @elonmusk Im not sure elon would agree...,2020-11-02
1,2020-11-02 23:59:53,@elonmusk chek this tesla video. üëå\nhttps://t....,2020-11-02
2,2020-11-02 23:59:47,2021 Goals:\n1. Inaugurate #BidenHarris \n2. E...,2020-11-02
3,2020-11-02 23:59:45,@elonmusk Send one to our family please. Our ...,2020-11-02
4,2020-11-02 23:59:41,@elonmusk @enn_nafnlaus @flcnhvy Thank you for...,2020-11-02

## November 3

In [8]:
nov3 = read_tweets('./data/tweets_1103.csv')
nov3.head()

2020-11-03    13393
Name: date, dtype: int64
(13393, 3)

,created_at,text,date
0,2020-11-03 23:59:57,@elonmusk @JonErlichman Christmas eve miracle?,2020-11-03
1,2020-11-03 23:59:46,"my Starship model Rocket has completed its ""la...",2020-11-03
2,2020-11-03 02:58:31,@elonmusk @thesheetztweetz Will it be able to ...,2020-11-03
3,2020-11-03 23:59:22,@elonmusk Would love to test one out for you h...,2020-11-03
4,2020-11-03 23:59:18,Just need #apple or #tesla to fomo in k thx #b...,2020-11-03

## November 4

In [9]:
nov4 = read_tweets('./data/tweets_1104.csv')
nov4.head()

2020-11-03    13393
Name: date, dtype: int64
(13393, 3)

,created_at,text,date
0,2020-11-03 23:59:57,@elonmusk @JonErlichman Christmas eve miracle?,2020-11-03
1,2020-11-03 23:59:46,"my Starship model Rocket has completed its ""la...",2020-11-03
2,2020-11-03 02:58:31,@elonmusk @thesheetztweetz Will it be able to ...,2020-11-03
3,2020-11-03 23:59:22,@elonmusk Would love to test one out for you h...,2020-11-03
4,2020-11-03 23:59:18,Just need #apple or #tesla to fomo in k thx #b...,2020-11-03

## November 5

In [10]:
nov5 = read_tweets('./data/tweets_1105.csv')
nov5.head()

2020-11-05    10856
Name: date, dtype: int64
(10856, 3)

,created_at,text,date
0,2020-11-05 23:59:57,@kul_kan2017 @joeschmow8 @jimcramer @elonmusk ...,2020-11-05
1,2020-11-05 23:15:07,@kul_kan2017 @joeschmow8 @jimcramer @elonmusk ...,2020-11-05
2,2020-11-05 18:02:46,"@StopStalkngThnx @AiKae47 @elonmusk Well then,...",2020-11-05
3,2020-11-05 10:53:51,"@CramericanMark @jimcramer @elonmusk Well, may...",2020-11-05
4,2020-11-05 10:40:40,@joeschmow8 @jimcramer @elonmusk Not actual re...,2020-11-05

## November 6

In [11]:
nov6 = read_tweets('./data/tweets_1106.csv')
nov6.head()

2020-11-06    17979
Name: date, dtype: int64
(17979, 3)

,created_at,text,date
0,2020-11-06 23:59:58,@Pontifex\n@realDonaldTrump @KremlinRussia_E\n...,2020-11-06
1,2020-11-06 21:11:40,@realDonaldTrump\n@stevenmnuchin1 @fcagroup @e...,2020-11-06
2,2020-11-06 22:33:29,@realDonaldTrump\n@stevenmnuchin1 @fcagroup @e...,2020-11-06
3,2020-11-06 21:08:24,@realDonaldTrump\n@stevenmnuchin1 @fcagroup @e...,2020-11-06
4,2020-11-06 22:41:15,@realDonaldTrump\n@stevenmnuchin1 @fcagroup @e...,2020-11-06

## November 7

In [12]:
nov7 = read_tweets('./data/tweets_1107.csv')
nov7.head()

2020-11-07    12470
Name: date, dtype: int64
(12470, 3)

,created_at,text,date
0,2020-11-07 23:59:57,@elonmusk #BTC solves this,2020-11-07
1,2020-11-07 23:59:47,@robert_zubrin @janusPrime @elonmusk I would s...,2020-11-07
2,2020-11-07 23:42:34,@janusPrime @elonmusk Actually it prefers Fusi...,2020-11-07
3,2020-11-07 23:58:42,@janusPrime @elonmusk Well that is not wrong.\...,2020-11-07
4,2020-11-07 23:59:43,@elonmusk @Kristennetten Underground bike line...,2020-11-07

## November 8

In [13]:
nov8 = read_tweets('./data/tweets_1108.csv')
nov8.head()

2020-11-08    12232
Name: date, dtype: int64
(12232, 3)

,created_at,text,date
0,2020-11-08 23:59:58,@teslaownerssv @elonmusk How the hell can that...,2020-11-08
1,2020-11-08 23:59:52,@teslavibes @OwenSparks_ @jgrano305 @MKBHD @el...,2020-11-08
2,2020-11-08 23:59:44,@elonmusk @vivvchy @RenataKonkoly @SpaceNews_I...,2020-11-08
3,2020-11-08 23:59:32,@wonderofscience @nealagarwal We are all truly...,2020-11-08
4,2020-11-08 23:44:35,@FLhomegrown @Tesla @elonmusk Buy panels fella...,2020-11-08

## November 9

In [14]:
nov9 = read_tweets('./data/tweets_1109.csv')
nov9.head()

2020-11-09    17995
Name: date, dtype: int64
(17995, 3)

,created_at,text,date
0,2020-11-09 23:59:51,@elonmusk Everyday!,2020-11-09
1,2020-11-09 23:58:21,@SpaceX @elonmusk @Space_Station @NASA @Commer...,2020-11-09
2,2020-11-09 18:40:31,@boringcompany @elonmusk @elonmusk please reac...,2020-11-09
3,2020-11-09 23:01:51,"@ana_couper @boringcompany @elonmusk Well, tec...",2020-11-09
4,2020-11-09 18:41:32,"@boringcompany @elonmusk And I will be, and wa...",2020-11-09

## November 10

In [15]:
nov10 = read_tweets('./data/tweets_1110.csv')
nov10.head()

2020-11-10    12044
Name: date, dtype: int64
(12044, 3)

,created_at,text,date
0,2020-11-10 23:59:43,@CodingMark @TeslaPhx @elonmusk @Kristennetten...,2020-11-10
1,2020-11-10 16:18:53,@Nivetha_7_42 @elonmusk @RationalEtienne @Kris...,2020-11-10
2,2020-11-10 16:33:49,@Nivetha_7_42 @elonmusk @RationalEtienne @Kris...,2020-11-10
3,2020-11-10 22:17:27,@elonmusk @Kristennetten one of my biggest goa...,2020-11-10
4,2020-11-10 21:26:05,@elonmusk I am happy for you ü•∞,2020-11-10

## Concatenating

In [20]:
dates = [oct28, oct29, oct30, oct31, nov1_2, nov3, nov4, nov5, nov6, nov7, nov8, nov9, nov10]

In [21]:
all_tweets = pd.concat(dates, axis =0, ignore_index = True)
all_tweets.head()

,created_at,text,date
0,2020-10-28 06:25:49,@LeonardChoong @VGrinshpun @bizandsec @dividen...,2020-10-28
1,2020-10-27 17:09:19,@erwil_AI @boutchbb7 @ValueAnalyst1 @JiwanCahn...,2020-10-27
2,2020-10-27 19:49:16,@VGrinshpun @boutchbb7 @ValueAnalyst1 @JiwanCa...,2020-10-27
3,2020-10-27 06:54:30,@JiwanCahn @mariuswiik @WholeMarsBlog @dburkla...,2020-10-27
4,2020-10-27 06:54:07,@JiwanCahn @mariuswiik @WholeMarsBlog @dburkla...,2020-10-27

In [22]:
all_tweets.shape

(181858, 3)

In [23]:
# all_tweets.to_csv('./data/all_tweets.csv', index = False)